@media only screen and (max-width:728px) {

	.container{
		width:100%;
	}

	.right{
		width: 65%;
	}
	
}



@media only screen and (max-width:500px) {
	.middle{
		display: none;
	}

	.left{
		width: 100%;
		display: block;
		vertical-align: top;
	}

	.right {
		width:100%;
	}
}